<nav class="navbar navbar-expand-md navbar-expand-sm  navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [ngClass]="{'active': showProfile}">
                <a class="nav-item nav-link" [ngClass]="{'active': showProfile}" href="user">My Profile</a>
            </li>

            <li class="nav-item" [ngClass]="{'active': editMode}">
                <span  [ngClass]="{'active': editMode}">
                    <button class="nav-item nav-link"  [ngClass]="{'active': editMode}" (click)="enableEdit()"
                        style="outline: none;text-decoration: none;background: rgba(0, 0,0, 0); border: rgba(0, 0,0, 0)">
                        Edit My Profile
                    </button>
                </span>
            </li>
            <li class="nav-item"  [ngClass]="{'active': showMyGroups}">
                <span  [ngClass]="{'active': showMyGroups}">
                    <button class="nav-item nav-link"  [ngClass]="{'active': showMyGroups}" (click)="showGroups()"
                        style="outline: none;text-decoration: none;background: rgba(0, 0,0, 0); border: rgba(0, 0,0, 0)">
                        My groups
                    </button>
                </span>
            </li>

        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href=""><button class="nav-item nav-link" (click)="logout()"
                        style="outline: none;background: rgba(0, 0,0, 0); border: rgba(0, 0,0, 0)">Logout</button></a>
            </li>
        </ul>
    </div>
</nav>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Group Members</h4>
                <button type="button" id="modalClose" class="close" data-dismiss="modal"
                    (click)="closeModal()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="form-group row">
                    <ul>
                        <li *ngFor="let user of users">
                            <h5>{{user.username}}</h5>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-light" data-dismiss="modal" (click)="closeModal()">Close</button>
            </div>


        </div>
    </div>
</div>

<div class="background">
    <div *ngIf="showProfile" style="margin-left: 30%">
        <div class="container d-inline-flex mt-2">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg  col-md m-2" style="-ms-flex: 0 0 200px;
                flex: 0 0 200px;">
                    <img src="assets/user.png" alt="User" width="200" height="200">
                </div>
                <div class="col-sm-6 col-lg col-md text-left mt-5">
                    <div class="form-inline">
                        <div class="form-group">
                            <h4 *ngIf="!editNameMode"><strong>{{name}}</strong></h4>
                            <input *ngIf="editNameMode" type="text" [(ngModel)]="name2">
                            <div *ngIf="editMode">
                                <button class="btn btn-secondary ml-1 mb-1 pt-1 " (click)="showEditName()"
                                    style="font-size: 10px;">Edit</button>
                                <button class="btn btn-success ml-1 mb-1 pt-1 " (click)="saveEditName()"
                                    style="font-size: 10px;">Save</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline">
                        <div class="form-group">
                            <h6 *ngIf="!editUsernameMode">{{username}}</h6>
                            <input *ngIf="editUsernameMode" type="text" [(ngModel)]="username2">
                            <div *ngIf="editMode">
                                <button class="btn btn-secondary ml-1 mb-1 pb-1" (click)="showEditUsername()"
                                    style="font-size: 10px;">Edit</button>
                                <button class="btn btn-success ml-1 mb-1 pb-1" (click)="saveEditUsername()"
                                    style="font-size: 10px;">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <h6 *ngIf="!editEmailMode">{{email}}</h6>
                            <input *ngIf="editEmailMode" type="text" [(ngModel)]="email2">
                            <div *ngIf="editMode">
                                <button class="btn btn-secondary ml-1 pt-1 mb-1" (click)="showEditEmail()"
                                    style="font-size: 10px;">Edit</button>
                                <button class="btn btn-success ml-1 pt-1 mb-1" (click)="saveEditEmail()"
                                    style="font-size: 10px;">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="!groupsReady&&showGroups">
        <h6 class="text-center">Loading...</h6>
    </div > -->
    <div *ngIf="groupsReady&&showGroups" class="container mt-4">
        <div class="row">

            <div class="col-md-3 card card--big" *ngFor="let group of groups" (click)="showMembers(group.groupid)"
                data-toggle="modal" data-target="#myModal">
                <div class="card__image" [ngStyle]="getStyle(group.groupid)"></div>
                <h2 class="card__title">{{group.name}}</h2><span class="card__subtitle">By Mattia Astorino</span>
                <p class="card__text">{{group.description}}</p>
            </div>
        </div>
    </div>
</div>