<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #24305e;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Users Management</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">


      <li class="nav-item ">
        <div *ngIf="isLoggedIn"><a class="nav-item nav-link" href={{role}}>My Profile</a></div>
        
      </li>
      <li>
          <a class="nav-item nav-link" href="#">About Us</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div *ngIf="isLoggedIn">
          <a href=""><button class="nav-item nav-link" (click)="logout()"
              style="outline: none;background: rgba(0, 0,0, 0); border: rgba(0, 0,0, 0)">Logout</button></a></div>
        <div *ngIf="!isLoggedIn">
          <span><button class="nav-item nav-link" (click)="navToLogin()"
              style="outline: none;background: rgba(0, 0,0, 0); border: rgba(0, 0,0, 0)">Login</button></span></div>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="!homeReady" class="text-center" style="margin-left: 45%;margin-top: 20%">
  <div class="loader"></div>
</div>
<div *ngIf="homeReady" class="slide-bottom text-center pt-3">
  <h1 class="mt-3">{{users}} users!</h1>
  <h1 class="mt-3">{{groups}} groups!</h1>
</div>